
img { border: 0; }

.ui-dialog.ui-widget {
  z-index: 250;
}

.page #webfm,
#page #webfm
{
  overflow: scroll;
  max-height: 500px;
}
#webfm-dirlist .action-copy-file-link {
  background: url('../image/icon/clipboard-2.png') no-repeat top left;
  width: 16px;
  height: 16px;
  display:block;
  font-size: 0em;
  margin-right: 5px;
  float: left;
}
#webfm-dirlist .action-copy-file-address {
  background: url('../image/icon/clipboard.png') no-repeat top left;
  width: 16px;
  height: 16px;
  display:block;
  font-size: 0em;
  float: left;
}

@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    -ms-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    -ms-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    -ms-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
  }
}

.wobble-top {
  display: inline-block;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble-top.active {
  -webkit-animation-name: wobble-top;
  animation-name: wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.add-attach-item {
  -webkit-animation: add-item-animation .6s ease-out forwards;
  -o-animation: add-item-animation .6s ease-out forwards;
  animation: add-item-animation .6s ease-out forwards;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}
@keyframes add-item-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  99% {
    opacity: 0;
    transform: scale(4);
  }
 
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes add-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  99% {
    opacity: 0;
    -webkit-transform: scale(4);
    transform: scale(4);
  }


  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes add-item-animation {
  0% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }

  99% {
    opacity: 0;
    -o-transform: scale(4);
    transform: scale(4)
  }


  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}


#webfm-dirlist.narrow { text-align: left;  margin-left: 220px;}
#webfm-dirlist.wide { margin-left:0px; }
#webfm-dirlist table { width:99%; font-weight:normal; font-size: 8pt; margin:0 auto; cursor:default; background-color:#f0f0f0; border:2px solid #d0d0d0; }
#webfm-dirlist td { border-bottom: 1px solid #d8d8d8; }
#webfm-dirlist img { margin-left: 5px; }
#webfm-dirlist table tr.selected td { background-color: #e7e7e7; }
#webfm-dirlist table tr { background-color: #f0f0f0; }
#webfm-dirlist a:hover { color: red; text-decoration: none; }
#webfm-dirlist .head { color: #2092d0; background-color: #e0e0e0; font-weight: bold; font-size: 9pt; }
#webfm-dirlist .head a { text-decoration: none; color: #2092d0; font-weight: bold; font-size: 9pt; }
#webfm-dirlist .head a:hover { color: red; text-decoration: none; }
#webfm-dirlist .navi { color: #2092d0; background-color: #f0f0f0; font-weight: normal; font-size: 9pt; text-align: left; line-height: 18px; }
#webfm-dirlist .navi a { color:#2092d0; font-weight: bold; font-size: 9pt; }
#webfm-dirlist .navi a:hover { color: red; text-decoration: none; }
#webfm-dirlist .txt { font-weight: normal; font-size: 8pt; text-align: left; padding-left: 5px; padding-right: 5px; }
#webfm-dirlist-ctls .selected { background-color: #2092d0; cursor:pointer; }
#webfm-dirlist td.icon { width: 30px; }
#webfm-dirlist td.ctls-td { text-align: right; }
#webfm-dirlist thead td { border: 0px none; }
/*#webfm-dirlist thead td:first-child { border-right: 1px solid; }*/

#webfm-tree { float:left; clear:both; position:relative; }
#webfm-tree .selected { background-color: #e7e7e7; }
#webfm-tree a:hover { color: red; text-decoration: none; }
#webfm-tree .dirtree { border: solid #d0d0d0 2px; padding:5px 5px 10px 5px; white-space:nowrap; width:200px; overflow:auto; background-color: #f0f0f0; }
#webfm-tree .dirtree ul { margin:0; padding:0; }
#webfm-tree .dirtree li { margin:0; padding-left:10px; list-style:none; background: #f0f0f0 none; }

#webfm-attach { margin:0; padding:0;  width: 97%; }
#webfm-attach table { width:94%; font-weight: normal; font-size: 8pt; margin: 0 auto; cursor: default; background-color: #f0f0f0; border: 2px solid #d0d0d0; }
#webfm-attach td { border-bottom: 1px solid #d8d8d8; }
#webfm-attach img { margin-left: 5px; }
#webfm-no-attachments { width: 99%; text-align: center; }

#wfmatt-wrapper .upload-msg-err { padding-top:5px; color:red; }
#wfmatt-wrapper .upload-msg { padding-top:5px; color:green; }

#webfm-dragCont { background:transparent none; list-style: none; }
#webfm-dragCont ul { margin:0; padding:0; background:transparent none; }
#webfm-dragCont li { margin:0; padding-left:20px; background:transparent none; }

#webfm-cxtCont { border:1px solid #202867; background:#FFF none; font-size:8pt; line-height: 12px; }
#webfm-cxtCont ul { list-style-type:none; margin:0; padding:0;}
#webfm-cxtCont ul li { padding:3px; margin: 0; background: #FFF none; text-align: left; }
#webfm-cxtCont ul li.selected { background:#E2EBED none; color:red; cursor:pointer;}

.webfm-pane { font-size:8pt; border: 2px solid black; background-color: white; overflow: hidden; }
.webfm-pane input { font-size:8pt; }
.webfm-pane-header { background-color: #e7e7e7; cursor: move; overflow: hidden; width: auto; }
.webfm-pane-content { clear:left; border-top: 1px solid black; border-bottom: 1px solid black; background-color: white; color: black; padding: 2px; line-height: 12px; overflow: auto; }
.webfm-pane-header .webfm-pane-close { position: absolute; right: 5px; top: 4px; cursor: hand; cursor: pointer; }
.webfm-pane-footer { height:15px; }
.webfm-pane-title { float:left; padding: 1px; text-indent: 3px; font-weight:bold; font-size:9pt; }
.webfm-pane-msg { float:left; font-size:8pt; color:red; padding-left:10px; }
.webfm-pane-resize { float:right; height:14px; width:14px; cursor: nw-resize; }
.webfm-pane-content .button { cursor: hand; cursor: pointer; }
.webfm-pane td { padding-top:2px; padding-right:5px; }

#webfm-search li { list-style:none; }

#webfm-meta-form table { border: 0; margin: 0; padding: 0; }
#webfm-meta-form tbody { border: 0; }
#webfm-meta-form .meta-button { font-weight:bold; margin:5px 5px 0 5px; }

#webfm-debug .g { color: green; font-size: 120%; }
#webfm-debug .dbg-button { font-weight:bold; margin:0 5px 0 5px; }

#webfm-alert { margin: 5px; }
#webfm-alert .alertspan { background-color: #ff0; color: #000; font-weight: bold; font-size: 9px; }

#webfm-ieDD img { padding-right: 10px; }

.webfm-attach-list img { margin-bottom: -4px; }
.webfm-attach-list .att-time { white-space:nowrap; }
.webfm-attach-list .att-size { white-space:nowrap; }
.webfm-attach-list .att-fdesc { overflow:auto; }

#webfm-progress { color: white; font-weight: bold; font-size: 10pt; visibility: hidden; }

#webfm-upload-fieldset { clear: left }


#mask {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index:9000;
  background-color:#000;
  display:none;
}
#webfm #webfm-tree .ui-state-active,
#webfm #webfm-tree .ui-state-active a,
#webfm #webfm-dirlist .ui-state-active,
#webfm #webfm-dirlist .ui-state-active a
{
  border: 0px;
  color:white;
}
#webfm #webfm-tree .ui-state-hover,
#webfm #webfm-tree .ui-state-hover a,
#webfm #webfm-dirlist .ui-state-hover,
#webfm #webfm-dirlist .ui-state-hover a
{
  border: 0px;
  color: red;
  background: inherit;
}

.context-menu-list,
.context-menu-root
{
  z-index: 100000;
}
#webfm .dirrow,
#webfm .filerow
{
  cursor: move;
}

#webfm #webfm-error
{
}
#webfm #webfm-error .error-title
{
  display:block;
  color: red;
  font-weight:bold;
  font-size: 1.25em;
}
#webfm #webfm-error .error-msg
{
  display:block;
  color: red;
}

#webfm #webfm-attachments .attachment-actions
{
 text-align: right;
}

#webfm #webfm-attachments .attachment-info-box
{
  display: block;
  border: 1px solid #D7D7D7;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

